<div [class]="isShort ? 'w-fit' : 'w-80'" class="section playlist">
  <div class="playlist__header" (click)="toggleShort()">
    <mat-icon class="icon">library_music</mat-icon>
    @if (!isShort) {
    <h6>Библиотека</h6>
    }
  </div>
  <div class="playlist__main">
    @for (list of playlists; track $index) {
    <div class="playlist__main-item" [class.bg-[var(--bg-color-secondary)]]="currentPlaylistId === list.id" (click)="routeToPlaylist(list.id, list.type)">
      <img class="w-12 h-12 rounded" [src]="list.cover_small" alt="" />
      @if (!isShort) {
      <div class="flex flex-col justify-center gap-1">
        <h6 class="leading-none font-normal one-stroke-text">
          {{ list.title }}
        </h6>
        <p class="playlist__main-artist one-stroke-text">{{ list.artist.name }}</p>
      </div>
      }
    </div>
    }
  </div>
</div>
