<div [class]="isShort ? 'w-fit' : 'w-80'" class="min-w-[72px]">
  <div class="flex items-center gap-2 cursor-pointer justify-center h-8" (click)="toggleShort()" >
    <mat-icon class="!text-[24px] !h-6 !w-6 text-[var(--main-color)]"
      >library_music</mat-icon
    >
    @if (!isShort) {
      <h2 class="text-lg">Плейлисты</h2>
    }
  </div>
  <hr class="my-3 border-[var(--border-color)]" />
  <div class="grid gap-1">
    @for (list of playlists; track $index) {
    <div
      class="flex gap-2 hover:bg-[var(--bg-color-secondary)] p-2 cursor-pointer rounded-lg"
      [class.bg-[var(--bg-color-secondary)]]="currentPlaylistId === list.id"
      (click)="routeToPlaylist(list.id, list.type)"
    >
      <img class="w-14 h-14 rounded" [src]="list.cover_small" alt="" />
      @if (!isShort) {
        <div class="flex flex-col justify-center gap-1">
          <h4 class="leading-none text-lg two-stroke-text">
            {{ list.title }}
          </h4>
          <p
            class="leading-none one-stroke-text text-[var(--text-color-secondary)] w-fit"
            >{{ list.artist?.name }}</p
          >
        </div>
      }
    </div>
    }
  </div>
</div>
