<div class="song">
  <div class="song__start" (click)="setTrack()">
    @if (isCurrentSong() && (isPlaying$ | async)) {
    <div class="equalizer">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <mat-icon class="song__start-icon">pause</mat-icon>
    } @else {
    <p [class.text-[var(--main-color)]]="isCurrentSong()" class="song__start-index">{{ index + 1 }}</p>
    <mat-icon class="song__start-icon">play_arrow</mat-icon>
    }
  </div>
  <div class="song__content">
    <div class="flex gap-3" style="grid-column: 1/10;">
      @if (!hideImg) {
      <img [src]="song.album.cover_medium" loading="lazy" class="w-10 h-10 rounded" alt="song_cover" />
      }
      <div class="flex flex-col justify-center">
        <span class="one-stroke-text" [class.text-[var(--main-color)]]="isCurrentSong()">
          {{ song.title }}
        </span>
        @if (!hideArtist) {
        <div class="flex items-start">
          @if (song.contributors?.length) {
          @for (artist of song.contributors; track $index) {
          <a [routerLink]="['/artist', artist.id]" class="song__content-artist one-stroke-text">
            {{ artist.name }}
          </a>
          @if ($index !== (song.contributors?.length ?? 1) - 1) {
          <span class="song__content-artist">
            ,&nbsp;
          </span>
          }
          }
          } @else {
          <a [routerLink]="['/artist', song.artist.id]" class="song__content-artist one-stroke-text">
            {{ song.artist.name }}
          </a>
          }
        </div>
        }
      </div>
    </div>
    @if (!hideAlbum) {
    <a style="grid-column: 10/19;" class="text-[var(--text-color-secondary)] truncate w-fit max-w-full"
      [routerLink]="['/album/', song.album.id]">{{song.album.title}}</a>
    }
    <div class="favorite-button w-full flex justify-end" style="grid-column: 19/20;">
      <button (click)="toggleFavorite()" class="icon-button" [class.text-[var(--main-color)]]="isFavorite">
        @if (isFavorite) {
        <mat-icon fontIcon="favorite"></mat-icon>
        } @else {
        <mat-icon fontIcon="favorite_border"></mat-icon>
        }
      </button>
    </div>
    <div style="grid-column: 20/20;" class="flex">
      <p class="flex items-center text-sm text-right mr-2 font-normal">{{ getDuration(song.duration) }}</p>
      <button class="icon-button more-button">
        <mat-icon fontIcon="more_horiz"></mat-icon>
      </button>
    </div>
  </div>
</div>
