<header>
  <section class="flex gap-4 items-center" style="grid-column: 1 / 3">
    <a [routerLink]="['/']">
      <img src="/assets/album-list.svg" width="32px" height="32px" alt="logo" />
    </a>
    <input class="w-full" type="text" placeholder="поиск" />
  </section>
  <section class="flex w-full justify-center" style="grid-column: 3 / 10">
    <app-player />
  </section>
  <section class="flex justify-center items-center gap-4 text-[var(--icon-color)]" style="grid-column: 10 / 11">
    <mat-icon fontIcon="palette"></mat-icon>
    <mat-icon fontIcon="terrain"></mat-icon>
    <a [routerLink]="['/profile']">
      <mat-icon fontIcon="person"></mat-icon>
    </a>
  </section>
</header>
