:host {
  & .slider {
    width: 100%;
    min-width: 200px;
    height: 4px;
    position: relative;
    background-color: var(--slider-color);
    border-radius: 9999px;

  }

  & .slider-input {
    z-index: 999;
    opacity: 0;
    width: inherit;
    position: absolute;
    left: 0;
    top: 0;
    height: inherit;
    cursor: pointer;
  }

  & .loader {
    border-radius: 9999px;
    height: 4px;
    background-color: var(--main-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
}
