@let songs_data = songs() | async;

@if (!songs_data) {
<div class="flex justify-center items-center w-full h-full">
  <app-loader />
</div>
} @else {
<div class="adaptive-margin">
  <a [routerLink]="['top']" class="link">
    <h5 class="leading-none">Топ треки</h5>
    <svg class="arrow h-3 fill-[var(--text-color-secondary)]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"
      aria-hidden="true">
      <path
        d="M19.817 61.863c1.48 0 2.672-.515 3.702-1.546l24.243-23.63c1.352-1.385 1.996-2.737 2.028-4.443 0-1.674-.644-3.09-2.028-4.443L23.519 4.138c-1.03-.998-2.253-1.513-3.702-1.513-2.994 0-5.409 2.382-5.409 5.344 0 1.481.612 2.833 1.739 3.96l20.99 20.347-20.99 20.283c-1.127 1.126-1.739 2.478-1.739 3.96 0 2.93 2.415 5.344 5.409 5.344Z">
      </path>
    </svg>
  </a>
  <div>
    @for(song of songs_data; track song.id) {
    <app-song [index]="$index" [hideArtist]="true" [queue]="songs_data" [song]="song" />
    }@empty {
    <p class="text-secondary">Пусто :(</p>
    }
  </div>
</div>
}
