<section class="h-full overflow-auto section-adaptive relative">
  <input #input class="w-full lg:w-60 mb-4" type="text" placeholder="Что послушаем сегодня?" [(ngModel)]="search"
    (ngModelChange)="handleSearch($event)" />
  @if (loading) {
  <div class="center">
    <app-loader></app-loader>
  </div>
  } @else {
  @if (findedSongs) {
  @for (song of findedSongs; track song.id) {
  <app-song [index]="$index" [queue]="findedSongs" [song]="song"></app-song>
  } @empty {
  <div class="flex justify-center items-center w-full h-full">
    <h5 class="text-xl text-default">К сожалению по запросу "{{search}}" ничего не найдено :(</h5>
  </div>
  }
  }
  }
</section>
