<div class="player">
  <div class="flex gap-2 w-full">
    <img class="rounded h-14 w-14" [src]="song?.album?.cover_small ?? '../../assets/placeholder.jpg'"
      alt="song cover" />
    <div class="player__info">
      <a [routerLink]="['/album', song?.album?.id]" class="truncate ">
        {{ song?.title }}
      </a>
      <a [routerLink]="['/artist', song?.artist?.id]" class="player__info-artist ">
        {{song?.artist?.name }}
      </a>
    </div>
  </div>
  <div class="player__controllers">
    <app-controls color="black"></app-controls>
    <div class="player__time-container">
      <span class="text-xs text-center min-w-8">
        {{ getFormattedTime() }}
      </span>
      <app-slider class="w-full max-w-[600px] min-w-[280px]" [duration]="duration" />
      <span class="text-xs text-center min-w-8">
        {{formattedDuration}}
      </span>
    </div>
  </div>

  <div class="flex items-center justify-end w-full">
    <button class="icon-button" (click)="toggleZenMode()">
      <mat-icon fontIcon="terrain"></mat-icon>
    </button>
    <button class="icon-button">
      <mat-icon fontIcon="add"></mat-icon>
    </button>
    <app-volume-slider widthClass="w-20"></app-volume-slider>
  </div>
</div>
@if (zenMode) {
<app-zen (emitZenMode)="toggleZenMode($event)"></app-zen>
}
