<div class="player">
  <div class="flex gap-2 w-full items-center">
    <img class="rounded h-14 w-14" [src]="song?.album?.cover_small ?? '../../assets/placeholder.jpg'"
      alt="song cover" />
    <div class="player__info">
      <a [routerLink]="['/album', song?.album?.id]" class="truncate ">
        {{ song?.title }}
      </a>
      <div class="flex">
        @if (song?.contributors?.length) {
        @for (artist of song?.contributors; track $index) {
        <a [routerLink]="['/artist', artist.id]" class="player__info-artist">
          {{ artist.name }}
        </a>
        @if ($index !== (song?.contributors?.length ?? 1) - 1) {<span class="player__info-artist">,&nbsp;</span>}
        }
        } @else {
        <a [routerLink]="['/artist', song?.artist?.id]" class="player__info-artist">
          {{ song?.artist?.name }}
        </a>
        }
      </div>
    </div>
    <button class="icon-button">
      <mat-icon fontIcon="add"></mat-icon>
    </button>
  </div>

  <div class="player__controllers">
    <app-controls color="var(--text-color)"></app-controls>
    <div class="player__time-container">
      <span class="text-xs text-center min-w-8">
        {{ getFormattedTime() }}
      </span>
      <app-slider class="w-full max-w-[600px] min-w-[280px]" />
      <span class="text-xs text-center min-w-8">
        {{formattedDuration}}
      </span>
    </div>
  </div>

  <div class="flex items-center justify-end w-full">
    <button class="icon-button" [routerLink]="['/queue']">
      <mat-icon fontIcon="menu"></mat-icon>
    </button>
    <button class="icon-button" (click)="toggleZenMode()">
      <mat-icon fontIcon="terrain"></mat-icon>
    </button>
    <app-volume-slider widthClass="w-20"></app-volume-slider>
  </div>
</div>
@if (zenMode) {
<app-zen (emitZenMode)="toggleZenMode($event)"></app-zen>
}
