<div class="flex items-center justify-between gap-4 w-full">
  <div class="flex gap-2 w-full">
    <img class="rounded h-14 w-14" [src]="getSong()?.album?.cover_small ?? '../../assets/placeholder.jpg'"
      alt="song cover" />
    <div class="flex flex-col justify-center truncate max-w-52">
      <h4 class="truncate">
        {{ getSong()?.title }}
      </h4>
      <a [routerLink]="['/artist/123213']" class="leading-none truncate text-[var(--text-color-secondary)]">{{
        getSong()?.artist?.name }}</a>
    </div>
  </div>
  <div class="flex gap-2 w-full justify-center flex-col items-center">
    <div class="flex items-center gap-2">
      <button class="icon-button" [class.active-button]="isShuffled" (click)="toggleShuffle()">
        <mat-icon fontIcon="shuffle"></mat-icon>
      </button>
      <button class="icon-button" (click)="prevSong()">
        <mat-icon fontIcon="skip_previous"></mat-icon>
      </button>
      <button class="icon-button button" (click)="toggleTrack()">
        @if (isSongPaused()) {
        <mat-icon fontIcon="play_arrow"></mat-icon>
        } @else {
        <mat-icon fontIcon="pause"></mat-icon>
        }
      </button>
      <button class="icon-button" (click)="nextSong()">
        <mat-icon fontIcon="skip_next"></mat-icon>
      </button>
      <button class="icon-button" [class.active-button]="getRepeat() !== 'none'" (click)="toggleRepeat()">
        @switch (getRepeat()) { @case ('playlist') {
        <mat-icon fontIcon="repeat"></mat-icon>
        } @case ('song') {
        <mat-icon fontIcon="repeat_one"></mat-icon>
        } @default {
        <mat-icon fontIcon="repeat"></mat-icon>
        } }
      </button>
    </div>
    <div class="flex gap-2 items-center w-full justify-center">
      <span class="text-xs text-center min-w-8">
        {{ getFormattedTime() }}
      </span>
      <app-slider class="w-full max-w-[600px] min-w-[280px]" [duration]="getTime()" />
      <span class="text-xs text-center min-w-8">
        {{getDurationTime()}}
      </span>
    </div>
  </div>
  <div class="flex items-center justify-end w-full">
    <button class="icon-button" (click)="toggleZenMode()">
      <mat-icon fontIcon="terrain"></mat-icon>
    </button>
    <button class="icon-button">
      <mat-icon fontIcon="add"></mat-icon>
    </button>
    <div class="flex items-center">
      <button class="icon-button" (click)="toggleVolume()">
        @if (getSongVolume()) { @if (volume >= 50) {
        <mat-icon fontIcon="volume_up"></mat-icon>
        } @else {
        <mat-icon fontIcon="volume_down"></mat-icon>

        } } @else {
        <mat-icon fontIcon="volume_off"></mat-icon>
        }
      </button>
      <input class="w-20" step="1" type="range" [ngModel]="volume" (ngModelChange)="handleVolume($event)" />
    </div>
  </div>
</div>
@if (zenMode) {
  <app-zen (emitZenMode)="toggleZenMode($event)"></app-zen>
}
