<div class="content-container">
  <app-widget></app-widget>
  <div class="flex flex-col gap-[var(--side-margin)]" style="grid-area: left-sidebar;">
    <app-nav [isShort]="isContained"></app-nav>
    <app-playlists class="h-full" (toggleShortEmitter)="toggleContained($event)" [isShort]="isContained"></app-playlists>
  </div>
  <main style="grid-area: main-view/main-view/main-view/right-sidebar;">
    <router-outlet class="absolute"></router-outlet>
  </main>
  <app-footer style="grid-area: now-playing-bar;"></app-footer>
</div>
