<h2 class="text-medium text-lg">Текущий плейлист</h2>
<div class="h-[var(--main-height)] overflow-auto mt-4">
  <div>
    <p>asdad</p>
    <p>asdad</p>
  </div>
  <div>
    <p>asdad</p>
    <p>asdad</p>
  </div>
  <div>
    <p>asdad</p>
    <p>asdad</p>
  </div>
  <div>
    <p>asdad</p>
    <p>asdad</p>
  </div>
  <div>
    <p>asdad</p>
    <p>asdad</p>
  </div>
  <div>
    <p>asdad</p>
    <p>asdad</p>
  </div>
  <div>
    <p>asdad</p>
    <p>asdad</p>
  </div>
  <div>
    <p>asdad</p>
    <p>asdad</p>
  </div>
  <div>
    <p>asdad</p>
    <p>asdad</p>
  </div>
  <div>
    <p>asdad</p>
    <p>asdad</p>
  </div>
  <div>
    <p>asdad</p>
    <p>asdad</p>
  </div>
  <div>
    <p>asdad</p>
    <p>asdad</p>
  </div>

  <div>
    <p>asdad</p>
    <p>asdad</p>
  </div>
  <div>
    <p>asdad</p>
    <p>asdad</p>
  </div>
  <div>
    <p>asdad</p>
    <p>asdad</p>
  </div>
  <div>
    <p>asdad</p>
    <p>asdad</p>
  </div>
  <div>
    <p>asdad</p>
    <p>asdad</p>
  </div>
  <div>
    <p>asdad</p>
    <p>asdad</p>
  </div>
</div>
