<div class="flex items-center">
  <button class="icon-button" (click)="toggleVolume()">
    <mat-icon [fontIcon]="getVolumeIcon()"></mat-icon>
  </button>
  <div class="slider-container" [style.width]="sliderWidth">
    <div class="slider">
      <div class="loader" [style.width]="getCurrentPercentage()"></div>
      <div class="loader-circle" [style.left]="getCurrentPercentage()"></div>
      <input class="slider-input" type="range" [ngModel]="volume" (ngModelChange)="handleVolume($event)" />
    </div>
  </div>
</div>
