<div class="zen-bg" [style.backgroundImage]="'url(' + song?.album?.cover_xl + ')'">
</div>
<div class="zen-content">
  <button (click)="closeZen()">
    <mat-icon class="!text-[32px] !w-fit !h-fit text-white">close</mat-icon>
  </button>
  <img class="w-96 aspect-square rounded transition-all" [src]="song?.album?.cover_big" alt="обложка">
  <div class="w-96 grid gap-2">
    <h3 class="text-white">{{song?.title}}</h3>
    <h5 class="text-white font-normal">{{song?.artist?.name}}</h5>
  </div>
  <div class="grid gap-6 place-items-center">
    <app-slider class="w-96" />
    <app-controls color="white"></app-controls>
    <div class="w-96">
      <app-volume-slider widthClass="w-full" color="white"></app-volume-slider>
    </div>
  </div>
</div>
