<div class="user-music" [class.active-side-bar]="isSideBarActive" cdkDropList (cdkDropListDropped)="onDrop($event)">
  @if (isLoading()) {
  <div class="flex justify-center">
    <app-loader />
  </div>
  } @else {
  @if (isAuth()) {
  @for (item of sideBarItems; track $index) {
  <app-user-music-item cdkDrag [item]="item" [currentPath]="currentPath" />
  }
  } @else {
  <div class="not-login-message">
    <h5>Создайте ваш первый плейлист</h5>
    <p class="text-secondary">Начните кайфовать с музыки, создав аккаунт или войдите в уже существующий</p>
    <button class="button w-full" (click)="setModal('login')">Войти</button>
    <button class="secondary-button w-full" (click)="setModal('registration')">Зарегестрироваться</button>
  </div>
  }
  }
</div>

<app-modal [triggerOpen]="triggerModal">
  <app-auth-form [type]="modal" />
</app-modal>
