<section class="w-full overflow-auto h-full">
  @if (requests > 0) {
  <div class="flex justify-center items-center w-full h-full">
    <app-loader />
  </div>
  } @else {
  @if (artist$ | async; as artist) {
  <div class="artist-header">
    <img class="artist-header__img" [src]="artist.picture_medium" alt="cover" />
    <div class="artist-header__text">
      <app-play-button class="artist-header__info-button" [queue]="songs!" />
      <h3>{{ artist.name }}</h3>
    </div>
  </div>
  }

  <div class="m-6">
    <a [routerLink]="['top']" class="link">
      <h5 class="leading-none">Топ треки</h5>
      <svg class="arrow h-3 fill-[var(--text-color-secondary)]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"
        aria-hidden="true">
        <path
          d="M19.817 61.863c1.48 0 2.672-.515 3.702-1.546l24.243-23.63c1.352-1.385 1.996-2.737 2.028-4.443 0-1.674-.644-3.09-2.028-4.443L23.519 4.138c-1.03-.998-2.253-1.513-3.702-1.513-2.994 0-5.409 2.382-5.409 5.344 0 1.481.612 2.833 1.739 3.96l20.99 20.347-20.99 20.283c-1.127 1.126-1.739 2.478-1.739 3.96 0 2.93 2.415 5.344 5.409 5.344Z">
        </path>
      </svg>
    </a>
    <div class="grid gap-1">
      @for(song of songs?.slice(0,5); track $index) {
      <app-song [index]="$index" [hideArtist]="true" [queue]="getQueue()" [song]="song"></app-song>
      }
    </div>
  </div>

  <div class="m-6 my-12">
    <a [routerLink]="['discography']" class="link">
      <h5 class="leading-none">Дискоргафия</h5>
      <svg class="arrow h-3 fill-[var(--text-color-secondary)]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"
        aria-hidden="true">
        <path
          d="M19.817 61.863c1.48 0 2.672-.515 3.702-1.546l24.243-23.63c1.352-1.385 1.996-2.737 2.028-4.443 0-1.674-.644-3.09-2.028-4.443L23.519 4.138c-1.03-.998-2.253-1.513-3.702-1.513-2.994 0-5.409 2.382-5.409 5.344 0 1.481.612 2.833 1.739 3.96l20.99 20.347-20.99 20.283c-1.127 1.126-1.739 2.478-1.739 3.96 0 2.93 2.415 5.344 5.409 5.344Z">
        </path>
      </svg>
    </a>
    <div class="grid-container">
      @for(album of (albums$ | async)?.slice(0,lastIndex); track $index) {
      <app-album [album]="album"></app-album>
      } @empty {
      <p class="text-[var(--text-color-secondary)]">Пусто :(</p>
      }
    </div>
  </div>

  @if (related$ | async; as related) {
  <div class="m-6 my-12">
    <a routerLink="/" class="link">
      <h5 class="leading-none">Схоже с творчеством</h5>
      <svg class="arrow h-3 fill-[var(--text-color-secondary)]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"
        aria-hidden="true">
        <path
          d="M19.817 61.863c1.48 0 2.672-.515 3.702-1.546l24.243-23.63c1.352-1.385 1.996-2.737 2.028-4.443 0-1.674-.644-3.09-2.028-4.443L23.519 4.138c-1.03-.998-2.253-1.513-3.702-1.513-2.994 0-5.409 2.382-5.409 5.344 0 1.481.612 2.833 1.739 3.96l20.99 20.347-20.99 20.283c-1.127 1.126-1.739 2.478-1.739 3.96 0 2.93 2.415 5.344 5.409 5.344Z">
        </path>
      </svg>
    </a>
    <div class="grid-container">
      @for(artist of related.slice(0,lastIndex); track $index) {
      <app-artist [artist]="artist"></app-artist>
      } @empty {
      <p class="text-[var(--text-color-secondary)]">Пусто :(</p>
      }
    </div>
  </div>
  }

  @if (playlists$ | async; as playlists ) {
  <div class="m-6">
    <a routerLink="/" class="link">
      <h5 class="leading-none">Плейлисты</h5>
      <svg class="arrow h-3 fill-[var(--text-color-secondary)]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"
        aria-hidden="true">
        <path
          d="M19.817 61.863c1.48 0 2.672-.515 3.702-1.546l24.243-23.63c1.352-1.385 1.996-2.737 2.028-4.443 0-1.674-.644-3.09-2.028-4.443L23.519 4.138c-1.03-.998-2.253-1.513-3.702-1.513-2.994 0-5.409 2.382-5.409 5.344 0 1.481.612 2.833 1.739 3.96l20.99 20.347-20.99 20.283c-1.127 1.126-1.739 2.478-1.739 3.96 0 2.93 2.415 5.344 5.409 5.344Z">
        </path>
      </svg>
    </a>
    <div class="grid-container">
      @for(playlist of playlists.slice(0,10); track $index) {
      <div [routerLink]="['/playlist', playlist.id]"
        class="cursor-pointer rounded-md p-3 hover:bg-[var(--bg-color-secondary)] flex flex-col gap-2 w-full">
        <img class="rounded w-full aspect-square" [src]="playlist.picture_medium" alt="">
        <p class="one-stroke-text">{{playlist.title}}</p>
      </div>
      }@empty {
      <p class="text-[var(--text-color-secondary)]">Пусто :(</p>
      }
    </div>
  </div>
  }
  }

</section>
