.link {
  @apply flex gap-1 mb-3 items-center hover:no-underline w-fit translate-x-0;

  & .arrow {
    transition: transform calc(var(--transition-time) / 2) ease-in-out;
  }

  &:hover .arrow {
    @apply translate-x-1;
  }
}

.grid-container {
  @apply grid grid-flow-col gap-4 overflow-x-auto pb-2 w-full xl:grid-cols-5 2xl:grid-cols-5 3xl:grid-cols-6 4xl:grid-cols-7;
}

.artist-header {
  @apply flex gap-4 h-[350px] w-full items-center justify-center relative shadow-inner;

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: linear-gradient(transparent 0, var(--bg-color-secondary));
    opacity: 0.8;
  }
}

.artist-header__img {
  @apply w-44 aspect-square rounded-full shadow-md relative z-[2];
}

.artist-header__text {
  @apply flex gap-3 items-center justify-between absolute p-6 w-full bottom-0 z-[2];
}
