<div>
  @if (!playlist) {
  <div class="text-[var(--text-color-secondary)] text-center">СКЕЛЕТОН!</div>
  } @else {
  <div class="grid gap-4">
    <div class="relative w-full">
      <div class="playlist-header">
        <img class="playlist-header__img" [src]="playlist.cover_big" alt="cover" />
        <div class="playlist-header__info">
          <h3>{{ playlist.title }}</h3>
          <div class="flex gap-1">
            @for (artist of playlist.contributors; track $index) {
            <a [routerLink]="['/artist', artist.id]" class="text-2xl w-fit">{{ artist.name }}</a>
              @if ($index !== playlist.contributors.length - 1) {
              <span class="text-2xl w-fit">
                ,&nbsp;
              </span>
              }
            }
          </div>
          <div class="flex gap-[6px]">
            <p>{{ getGenres() }} ·</p>
            {{ playlist.release_date | date: 'YYYY' }}
          </div>
        </div>
      </div>
    </div>
    <div cdkDropList (cdkDropListDropped)="onDrop($event)" class="grid gap-1">
      @for (song of playlist.tracks.data; track $index) {
      <app-song [hideImg]="type === 'album'" [queue]="getQueue()" [hideAlbum]="type === 'album'" cdkDrag
        [song]="song"></app-song>
      }
    </div>
  </div>
  }
</div>
<canvas class="hidden" id="canvas"></canvas>
